# uruchomienie 
# sudo usermod -aG pulse-access $USER
# sudo usermod -aG pulse-access root

# sudo mkdir -p /run/user/1000
# sudo chown -R $USER:$USER /run/user/1000
# sudo chmod 700 /run/user/1000
# mkdir -p /home/$USER/.config/systemd/user
# nano /home/$USER/.config/systemd/user/pizero.pulseaudio.service

#następnie 
# systemctl --user enable --now pizero.pulseaudio.service
# sudo usermod -aG pulse-access $USER
# sudo usermod -aG pulse-access root
# sprawdzenie 
# pactl list short sink-inputs
# pactl info

# zapisz to jako plik: /home/$USER/.config/systemd/user/pizero.pulseaudio.service
[Unit]
Description=USER PulseAudio sound server
After=bluetooth.target

[Service]
ExecStart=/usr/bin/pulseaudio --disallow-exit --disallow-module-loading=0
Restart=on-failure

[Install]
WantedBy=default.target