#sudo nano /etc/systemd/system/dog.service
#sudo systemctl daemon-reload
#sudo systemctl enable dog.service
#sudo systemctl start dog.service
[Unit]
Description=Starts Dog Service
After=network.target sound.target pizero.pulseaudio.service
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/usr/local/bin/
ExecStart=/usr/local/bin/pizero.server.run
Restart=always
RestartSec=10
StandardOutput=append:/var/log/dog.log
StandardError=append:/var/log/dog.log

[Install]
WantedBy=multi-user.target

